<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1>Editar Usuário</h1>
        <form action="{{ url_for('editarusuario', id=usuario.id) }}" method="POST">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" name="inome" id="inome">
            </div>
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" name="icpf" id="icpf">
            </div>
            <div class="form-group">
                <label for="nasc">Nascimento:</label>
                <input type="text" class="form-control" name="inasc" id="inasc">
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" name="iemail" id="iemail">
            </div>
            <div class="form-group">
                <label for="end">Endereço:</label>
                <input type="text" class="form-control" name="iend" id="iend" >
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" name="isenha" id="isenha">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Editar</button>
        </form>
    </div>
</body>
</html>
